:root {
  --def-transition-duration: 0.3s;
}

.App {
  position: absolute;
}

header {
  border-bottom: 1px solid white;
}

header figure img {
  width: 10rem;
}

main {
  display: flex;
  flex-direction: column;
  margin: 4rem 32rem 0rem 32rem;
  gap: 6rem;
}

main div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main div h1 {
  font-size: 3rem;
}

main div button {
  display: flex;
  width: max-content;
  border-radius: 2rem;
  padding: 0 2rem;

  border: 1px solid black;
  color: black;
  background-color: white;
  gap: 2rem;
  transition-property: background-color, color;
}

main div button h4 {
  font-size: medium;
}

main div button:hover h4 {
  font-size: large;
  transition-property: font-size;
}

main div button img {
  margin: auto;
  width: 1.5rem;
  filter: invert(0%);
  transform: rotate(0) translate3d(0, 0, 0);
  transition-property: transform, invert;
}

main div button:hover {
  background-color: gray;
  cursor: pointer;
  color: white;
}
main div button:hover img {
  transform: rotate(180deg) translate3d(1rem, 0, 0);
  filter: invert(100%);
}

main div button,
main div button img,
main div button h4 {
  transition-duration: var(--def-transition-duration);
  transition-timing-function: ease-in-out;
}
